<!doctype html> 
<html> 
    <head> 
        <title>Video Test</title> 
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"> 
<!--        <script type="text/javascript" src="assets/lib.js"></script>-->
<!--        <script type="text/javascript" src="assets/blofeld.js"></script>-->
<!--        <link rel="stylesheet" href="assets/blofeld.css" type="text/css">-->
        <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
    </head> 
    <body> 
        <list>
#for $video in $videos
            <li><a href="player?index=$videos.index($video)">$video['name']</a></li>
#end for
        </list>
    </body>
</html>
