<!doctype html> 
<html> 
    <head> 
        <title>Kananga</title> 
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"> 
        <link rel="stylesheet" href="assets/style.css" type="text/css"> 
    </head> 
    <body> 
        <h1>Kananga</h1>
        <ul>
#for $video in $videos
            <li>$video['name']</li>
            <ul>
                <li>[ <a href="player?index=$videos.index($video)&quality=low">Low</a> | <a href="player?index=$videos.index($video)&quality=med">Med</a> | <a href="player?index=$videos.index($video)&quality=hi">High</a> | <a href="player?index=$videos.index($video)&quality=hd">HD</a> ] ($video['quality'], $video['aspect'], $video['extension'])</li>
            </ul>
#end for
        </ul>
    </body>
</html>
